.app {
  background: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  .mainContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .flightList {
    width: 100%;
    max-width: 600px;
  }

  .filter1{
    align-self: flex-start;
  }
}

@media (max-width: 600px) {
  .app {
    padding: 8px;
  }

  .flightCard {
    padding: 12px;
  }
}
