.header {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  background: rgb(229, 229, 229);

  .logotype {
    border: 2px #918888;
    border-style: dashed;
    border-width: 2px 2px;

    img{
      width: 54.75px;
      height: 51px;
    }
  }
}
